<!DOCTYPE html>
<html lang="en">
<head>
 {{>headerlinks}}
</head>
<body>
      {{>navbar}}
     <!--main header-->
   <div class="container-fluid main-header">
     <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side-->
                    <div class="col-md-6 col-12 main-header-right">
                      <figure>
                       <img src="images/jon3.png" alt="jon" class="img-fluid" title="jonbalo">
                      </figure>
                     </div>
                    <div class="col-md-6 col-12 main-header-left">
                        <p>welcome to weather app</p>
                        <h1>I'm a <span>MernStack Developer </span>Photograper and Freelancer</h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>
                    <!--right side-->
                   
                </div>
            </div>
      </div>  
    </div>
   <!-- footer files-->
   {{>footer}}
</body>
</html>